@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: #8231AE;
}

header {
    margin: auto;
    width: 350px;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-family: "Bungee Spice", sans-serif;
    font-size: 2.6em;
}

#placaMae {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-image: radial-gradient(#ffbc42, #be2600,#6a040f) 79;
    border-width: 10px;
    border-style: solid;
    background: radial-gradient(#00b4d8, #0077b6, #03045e);
}

#placaMaePng {
    height: 120px;
    width: 100px;
}

article {
    position: relative;
    margin: auto;
    width: 350px;
    margin-top: 5px;
    border-left: 5px solid #be986a;
    border-right: 5px solid #be986a;
    border-top: 5px solid #be986a;
    background-color: #01422C;
}

h2 {
    background-color: #01623D;
    color: white;
    padding: 5px;
    font-family: "Protest Revolution", sans-serif;
}

.input {
    text-align: center;
    padding: 10px;
}

#numero {
    text-align: center;
    font-size: 3em;
    height: 60px;
    width: 100px;
    color: white;
    background-color: #01623D;
    border: 2px solid whitesmoke;
    font-family: "Protest Revolution", sans-serif;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
}

input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

#calcular {
    height: 30px;
    width: 142px;
    font-size: 1.3em;
    font-family: "Protest Revolution", sans-serif;
    color: white;
    background-color: #01623D;
    border-color: whitesmoke;
}

#resultado {
    overflow: hidden;
    color: white;
    border: 2px solid whitesmoke;
    background-color: #01623D;
    font-family: "Protest Revolution", sans-serif;
    width: 142px;
    text-align: center;
}

#option {
    color: white;
    background-color: #01623D;
    font-family: "Protest Revolution", sans-serif;
}

#digito {
    display: flex;
    justify-content: center;
    width: 100px;
    position: absolute;
    top: 100px;
    right: 0;
}

#digitoPng {
    height: 80px;
}

#matt {
    display: flex;
    justify-content: center;
    width: 110px;
    position: absolute;
    top: 200px;
    right: 0;
}

#mattPng {
    height: 150px;
}

#jackie {
    display: flex;
    justify-content: center;
    width: 95px;
    position: absolute;
    top: 200px;
    left: 0;
}

#jackiePng {
    height: 150px;
}

#inez {
    display: flex;
    justify-content: center;
    width: 80px;
    position: absolute;
    top: 45px;
    left: 0;
}

#inezPng {
    height: 150px;
}

footer {
    text-align: center;
    background-color: #01623D;
    width: 350px;
    position: relative;
    margin: auto;
    border-left: 5px solid #be986a;
    border-right: 5px solid #be986a;
    border-bottom: 5px solid #be986a;
}

footer a {
    text-decoration: none;
    color: white;
    font-family: "Protest Revolution", sans-serif;
}